body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d3d3d3;
}
/* ListData */
.list-data {
  padding-top: 60px;
}
.list-data-top {
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.data-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.data-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .data-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.data-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}
.data-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 15px;
}
